h1{
    background-color: orange;
    color: white;
}

div{
    background-color: chartreuse;
}

p{
    color: brown;
}

.black{
    font-size: 50px;
    color: blanchedalmond;
}

#first{
    color: coral;
    background-color: black;
    font-size: 25px;
}